<!doctype html>
<!--
The consent.html displays the text of an IRB-approved consent form.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Experiment</title>
  <link rel="stylesheet" href="/static/css/tacit-css.min.css"/>
</head>

<body>

  <!-- Study headers -->
  <h1>Scream Task Intro</h1>

  <hr>
  <p>
    <b>TITLE OF RESEARCH:</b> CONTE Study: Latent Cause Inference
    <br>
    <b>PRINCIPAL INVESTIGATOR</b>: Avram Holmes, Ph.D.
    <br>
    <b>PRINCIPAL INVESTIGATOR’S DEPARTMENT</b>: Psychiatry Research at Rutgers University
  </p>
  <hr>

  <!-- Intro paragraph -->
  <p>
    You are being invited to take part in a research study 
  </p>

  <!-- Study purpose -->
  <h2>Purpose of the research:</h2>
  <p>
    We are looking to understand better how humans learn and respond to stimuli.
  </p>

  <!-- Study duration -->
  <h2>Expected duration of participation:</h2>
  <p>
    <!-- Adapt for experiment -->
    This experiment will take ~25 minutes of your time. Please note that the researchers reserve the right to terminate your participation early if there is a significant lack of timely engagement on your part or if there is evidence that you are not responding truthfully to assessments or are not paying attention and adhering to the instructions. In these cases, you will be compensated for the time you have spent on the experiment beyond the first few minutes.
  </p>
  <!-- Study procedures -->
  <h2>Study Procedures:</h2>
  <p>
    In this experiment, you complete a series of online cognitive and behavioral assessments. To complete these, you will need a laptop or desktop computer with a browser (the assessments cannot be completed on a mobile device) and headphones, ideally in a quiet room where you are undisturbed.
  </p>


  <!-- Consent -->
  <p>

    <blockquote>
      <br>
      <br>
      </blockquote>
  </p>

  <center>
    <form method="post">

      <button type="submit" name="subj_consent" value=1>Next Page</button>

    </form>
  </center>

</body>



<style>
.recontact {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
</style>
</html>
